*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1em + .5rem);
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
}